@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* applique le style sur tout element*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #0f0b0b;
    width: 100%;
    position: fixed;
    /*fixer la bare header*/
    z-index: 999;
    display: flex;
    justify-content: space-between;
    /*separer les elements */
    align-items: center;
    padding: 10px 200px;
}

.logo img {
    width: 40px;



}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    /*espace entre les elements*/
}

.navigation a:hover {
    color: #f69c0dc5;

}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/bgg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h1 {
    color: rgb(210, 148, 13);
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 10px;
}

.main span h3 {
    display: inline-block;
    margin-top: 10px;
    color: #898686;
    font-size: 2.5em;
    font-weight: 700;
}

.main h2 {
    color: rgb(210, 148, 13);
    font-size: 1.9em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: rgb(0, 0, 0);
    background-color: rgb(214, 168, 68);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: rgba(212, 138, 35, 0.717);
    transform: scale(1.1);
}

.icons a {
    color: #ecf0f4;
    font-size: 1em;
    padding-right: 30px;
    transition: 0.7s ease;

}

a i {
    transition: all 0.3s linear;
}

a:hover i {

    transform: scale(1.5);
}

.instagram:hover {
    color: #E4405F;
}

.twitter:hover {
    color: #1DA1F2;
}

.github:hover {
    color: rgb(255, 255, 255);
}

.linkedin:hover {
    color: #0072B1;
}

.facebook:hover {
    color: #3B5998;
}